* {
    
  }

  :root {
    --textcolor: rgb(97, 97, 97);


  }

  body {
    font-family: Arial;
    margin: 0;
  }
  
  header {
    padding: 40px;
    text-align: left;
    background-color: #13293d;
    color: #fff;
  }
  
  /* 
  What happens when we set the display property to flex?
  The flex container becomes flexible 
  */
  nav {
    display: flex;
    justify-content: flex-end;
  }
  
  nav a {
    color: lightcoral;
    padding: 14px 20px;
    text-decoration: underline;
    text-align: center;
  }

  article {
    
  }

  section {
    display: flex;
    color: var(--textcolor);
    flex-direction: row;
    
   
}

  section h1 {
    text-align: center;
    margin: 10px;
    border-right: 2px solid var(--textcolor);
    padding: 10px;
    flex: 1;
  
  }

  section p {
    border: 10px;
    flex: 2;
  }

  section img {
    width: 25%;
    height: auto;
    border: 5px var(--textcolor);
    border-style: solid;
    margin: 10px;
    
  }

  /* needs work!!! */
  section img .bigger {
  width: 75%; 
  height: auto;
}
  

  .about {
    display: flex;
    flex-wrap: wrap;
  }

  .work {
    display: flex;
    flex-wrap: wrap;
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
  }

  .contact a {
    justify-content: space-around;
    padding: 14px 20px;
  }