* {scroll-behavior: smooth;
    
  }

  :root {
    --textcolor: rgb(97, 97, 97);


  }

  body {
    font-family: Arial;
    margin: 0;
    
  }
  
  header {
    padding: 40px;
    text-align: left;
    background-color: var(--textcolor);
    color: #fff;
  }

  header h1 {
    background-color: lightcoral ;
    max-width: 300px;
    height: 50px;
    padding: 8px;
  }
  
  
  nav {
    display: flex;
    justify-content: flex-end;
  }
  
  nav a {
    color: lightcoral;
    padding: 14px 20px;
    text-decoration: underline;
    text-align: center;
  }

  article {
    background-color: rgb(219, 219, 219);
  }

  section {
    display: flex;
    color: var(--textcolor);
    flex-direction: row;
   
}

  h1 {
    font-size: 200%;

  }

  section h1 {
    text-align: right;
    margin-right: 20px;
    border-right: 2px solid var(--textcolor);
    padding: 20px;
    flex: 1;
    
  
  }

  section p {
    border: 10px;
    flex: 2;
    margin: auto;
  }

  .container {
    border: 5px var(--textcolor);
    border-style: solid;
    margin: 10px;
  }
  
  section p img {
    width: 500px;
    height: auto;
  }

  .smaller img {
    width: 25%;
    height: auto;
      
  }

  

  .contact a {
    justify-content: space-around;
    padding: 20px;
  }